<div class="row" style="display: inline-flex;">

  <div class="grid-item grid-sizer">
    <div style="background: lightgray;  width: 200px; height: 300px;">1</div>
  </div>

  <div class="grid-item grid-item--heigth2">
    <div style="background: lightgray;  width: 200px; height: 200px;">2</div>
  </div>

  <div class="grid-item">
    <div style="background: lightgray;  width: 200px; height: 300px;">3</div>
  </div>
</div>


<div class="row " style="display: inline-flex;">
  <div class="grid-item">
    <div style="background: lightgray;  width: 200px; height: 300px;">4</div>
  </div>

  <div class="grid-item  hidden-xs">
    <div style="background: lightgray; float: bottom; width: 200px; height: 200px;">5</div>
  </div>

  <div class="grid-item grid-item--heigth2">
    <div style="background: lightgray;  width: 200px; height: 300px;">6</div>
  </div>
</div>
</div>

