
<section class="cd-faq">

  <div class="cd-faq-items">
    <ul id="basics" class="cd-faq-group">
      <li class="cd-faq-title"><h2>Livraison et Echange</h2></li>
      <li>
        <a class="cd-faq-trigger" href="#0">Comment je peux échanger mes produits ?</a>
        <div class="cd-faq-content">
          <p>Oui, vous avez la possibilité d’échanger votre achat (dans la limite des stocks disponible) ou vous faire rembourser pendant 14 jours.</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">Est-il possible de se faire livrer à l’international ?</a>
        <div class="cd-faq-content">
          <p>Pour le moment, nous pouvons livrer qu’en Europe.</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">La livraison est-elle payante ?</a>
        <div class="cd-faq-content">
          <p>Tous les coûts de livraison sont pris en charge par Unidraft pour toute l’Europe.</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">Puis-je suivre ma commande ?</a>
        <div class="cd-faq-content">
          <p>Grâce à notre partenaire Cubyn, toutes nos livraisons sont effectuées par les acteurs principaux du secteur comme La poste, UPS ou Chronopost. Ces entreprises partenaires proposent un suivi de livraison.</p>
        </div> <!-- cd-faq-content -->
      </li>
    </ul> <!-- cd-faq-group -->

    <ul id="mobile" class="cd-faq-group">
      <li class="cd-faq-title"><h2>Les votes</h2></li>
      <li>
        <a class="cd-faq-trigger" href="#0">A quoi servent les votes ?</a>
        <div class="cd-faq-content">
          <p>Les votes nous servent à sélectionner les croquis qui iront en production. Ces votes sont importants car cela signifie que vous apportez votre soutien à l’un de nos créateurs</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">Est-ce payant ?</a>
        <div class="cd-faq-content">
          <p>Non. Les votes sont totalement gratuit et vous permettent même d’avoir une réduction de 10% sur le prix de précommande si la créations est produite.</p>
        </div> <!-- cd-faq-content -->
      </li>


    </ul> <!-- cd-faq-group -->

    <ul id="account" class="cd-faq-group">
      <li class="cd-faq-title"><h2>Les pré-commande</h2></li>
      <li>
        <a class="cd-faq-trigger" href="#0">Combien dure la période de précommande ?</a>
        <div class="cd-faq-content">
          <p>Chaque création sélectionnée est mis en vente en précommande pour une période maximum de 30 jours.</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">Comment fonctionne le paiement ?</a>
        <div class="cd-faq-content">
          <p>Le paiment constitue des arrhes qui sont totalement remboursée si le production n'est pas effectuée.</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">Quand est-ce que je suis livré ?</a>
        <div class="cd-faq-content">
          <p>Peu importe le moment ou vous effectuez votre précommande, le délai de livraison est de 3 à 4 semaines.</p>
        </div> <!-- cd-faq-content -->
      </li>

    </ul> <!-- cd-faq-group -->

    <ul id="payments" class="cd-faq-group">
      <li class="cd-faq-title"><h2>Les commandes</h2></li>
      <li>
        <a class="cd-faq-trigger" href="#0">Comment marchent les commandes ?</a>
        <div class="cd-faq-content">
          <p>Une fois les précommande terminée, la période de commande commence. Cette période dure 2 mois.</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">Quelle est la différence entre les précommandes et les commandes ?</a>
        <div class="cd-faq-content">
          <p>Lors du processus de précommande, les créations ne sont pas produites. De ce fait, nous n’avons pas de stock et le client sera livré dans un délai plus conséquent, ce qui explique un prix plus bas. Lors des commandes classiques, le délai de livraison est de 3 à 5 jours ouvrés.</p>
        </div> <!-- cd-faq-content -->
      </li>


    </ul> <!-- cd-faq-group -->

    <ul id="privacy" class="cd-faq-group">
      <li class="cd-faq-title"><h2>les créations</h2></li>
      <li>
        <a class="cd-faq-trigger" href="#0">Où est effetuée la production ?</a>
        <div class="cd-faq-content">
          <p>Toutes nos étapes de production sont effectuées en France.</p>
        </div> <!-- cd-faq-content -->
      </li>
      <li>
        <a class="cd-faq-trigger" href="#0">Combien de couleur sont disponibles pour chaque création ?</a>
        <div class="cd-faq-content">
          <p>Cela varie en fonction des créations.</p>
        </div> <!-- cd-faq-content -->
      </li>
      <li>
        <a class="cd-faq-trigger" href="#0">Y a-t’il des créations pour les hommes ?</a>
        <div class="cd-faq-content">
          <p>Une collection homme arrivera rapidement.</p>
        </div> <!-- cd-faq-content -->
      </li>
      <li>
        <a class="cd-faq-trigger" href="#0">Quelle est la gamme de taille Unidraft ?</a>
        <div class="cd-faq-content">
          <p>Nous avons une gamme de taille qui va du 34 au 42</p>
        </div> <!-- cd-faq-content -->
      </li>
    </ul>
    <h3>Créateurs</h3>
    <ul id="basics" class="cd-faq-group">
      <li class="cd-faq-title"><h2>Croquis</h2></li>
      <li>
        <a class="cd-faq-trigger" href="#0">Où je dois soumettre mes croquis ?</a>
        <div class="cd-faq-content">
          <p>Vous pouvez soumettre vos croquis à l’adresse suivante : <a href="mailto:hello@unidraft.co">hello@unidraft.co</a> ainsi que n’importe quel document ou description qui nous permettrait de mieux identifier votre univers.</p>
        </div> <!-- cd-faq-content -->
      </li>
      <li>
        <a class="cd-faq-trigger" href="#0">Quel type de vêtement puis-je proposer ?</a>
        <div class="cd-faq-content">
          <p>Vous pouvez proposer toute création textile pour femmes. Pour l'instant, les chaussures, les acessoires, et l'homme n'entrent pas dans notre gamme.</p>
        </div> <!-- cd-faq-content -->
      </li>
      <li>
        <a class="cd-faq-trigger" href="#0">Comment sélectionnez-vous les croquis ?</a>
        <div class="cd-faq-content">
          <p>Nous nous réunissons chaque semaine et évaluons la faisabilité des croquis avec nos modelistes et ateliers. Puis nous passons à la phase de vote</p>
        </div> <!-- cd-faq-content -->
      </li>
      <li class="cd-faq-title"><h2>Les votes</h2></li>

      <li>
        <a class="cd-faq-trigger" href="#0">Quelle est la durée de la période de vote ?</a>
        <div class="cd-faq-content">
          <p>La durée est de 30 jours.</p>
        </div> <!-- cd-faq-content -->
      </li>
      <li>
        <a class="cd-faq-trigger" href="#0">De combien de votes ai-je besoin ?</a>
        <div class="cd-faq-content">
          <p>Nous prenons en compte plusieurs critères en plus des votes (nombre de clics, de vues, de partage, etc...)</p>
        </div> <!-- cd-faq-content -->
      </li>
      <li>
        <a class="cd-faq-trigger" href="#0">Que se passe-t’il après la phase de vote ?</a>
        <div class="cd-faq-content">
          <p>A l’issu des 30 jours, si l'egagement est suffisant, nous produisons un prototype, et shooting photo à nos frais, et passons à l'étape suivante. Sinon, il faut nous proposer un autre croquis.</p>
        </div> <!-- cd-faq-content -->
      </li>
      <li class="cd-faq-title"><h2>Mise au point et shooting</h2></li>
      <li>
        <a class="cd-faq-trigger" href="#0">Comment se déroule la phase de mise au point ?</a>
        <div class="cd-faq-content">
          <p>Vous choisissez votre tissu chez notre partenaire. Si vous êtes modéliste, vous pouvez réaliser le patronage et le montage vous-même. Si vous n’êtes pas qualifié pour cela, vous travaillerez avec un de nos modelistes.</p>
        </div> <!-- cd-faq-content -->
      </li>
      <li>
        <a class="cd-faq-trigger" href="#0">Comment se déroule le Shooting ?</a>
        <div class="cd-faq-content">
          <p>Le shooting est effectué par notre photographe. Vous devrez nous transmettre un moodboard avec vos indications et notre équipe artistique se chargera de guider au mieux le shooting.
</p>
        </div> <!-- cd-faq-content -->
      </li>
      <li class="cd-faq-title"><h2>Mise au point et shooting</h2></li>

      <li>
        <a class="cd-faq-trigger" href="#0">Comment sont rémunérés les créateurs ?</a>
        <div class="cd-faq-content">
          <p>Chaque créateur touche une commission sur chaque vente.</p>
        </div> <!-- cd-faq-content -->
      </li>

      <li>
        <a class="cd-faq-trigger" href="#0">Ai-je des supports marketing pour contribuer à la communication ?</a>
        <div class="cd-faq-content">
          <p>Oui. Vous ferez une interview avec notre équipe marketing, qui vous aidera aussi à effectuer la communication pour votre création</p>
        </div> <!-- cd-faq-content -->
      </li>

    </ul> <!-- cd-faq-group -->
  </div> <!-- cd-faq-items -->
  <a href="#0" class="cd-close-panel">Close</a>
</section>
