<div class="wrap center">

  <div class="center">
    <h1>Vous êtes créateur</h1>
    <h4>Rejoignez-nous</h4>
    <h5>On s'occupe de tout</h5>
    <p>Déposez vos croquis et Unidraft les soumet aux votes des internautes. Si l'engagement est suffisant, nous produisons le prototype avec nos modelistes.</p>
  </div>
  <br><br><br><br>
<div class="row">
  <div class="bullet-d col-xs-12 col-sm-4">
    <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
    </span>
    <h4 class="center">PRODUCTION</h4>
    <p>La production est réalisée dans des ateliers français, avec tissus de qualité et des modélistes confirmés</p>
  </div>
  <div class="bullet-d col-xs-12 col-sm-4">
    <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-volume-up fa-stack-1x fa-inverse"></i>
    </span>
    <h4 class="center">COMMUNICATION</h4>
    <p>Notre équipe com', anime la communauté. Notre photographe pro, assure les shootings</p>
  </div>
  <div class="bullet-d col-xs-12 col-sm-4">
    <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
    </span>
    <h4 class="center">COMMISSION</h4>
    <p>Plus vous vendez, plus vous gagner. Vous touchez une commission sur chaque vente</p>
  </div>
</div>
<div class="row">
  <div class="bullet-d col-xs-12 col-sm-4 col-sm-offset-1">
    <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-gavel fa-stack-1x fa-inverse"></i>
    </span>
    <h4 class="center">JURIDIQUE</h4>
    <p>Notre collaboration sera assurée par les contrats élaborés par nos avocats.</p>
  </div>
  <div class="bullet-d col-xs-12 col-sm-4 col-sm-offset-2">
    <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-fire fa-stack-1x fa-inverse"></i>
    </span>
    <h4 class="center">VOTES</h4>
    <p>Le système de vote vous assure l'étude de marché, avant de lancer la série. Elle vous permet de tester vos croquis sur le client final.</p>
  </div>
</div>


<br><br><br>
<p>Remplissez le formulaire suivant avec : </p><br>



<p>- Votre nom </p><br>
<p>- Votre prénom </p><br>

<p>Une description de votre univers ( 2 - 3 lignes) </p><br>

<p>Des éventuels liens vers vos réseaux sociaux </p><br>

<p>Un membre de l’équipe Unidraft entrera en contact avec vous afin de vous indiquer les prochaines étapes.</p>  <br>

<p>Si vous souhaitez en savoir plus sur notre processus, consultez notre <a href="/faq">FAQ.</a></p>

<section id="contact-designer-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br><br>
                <h2 class="section-heading">Devenez un créateur Unidraft</h2>
                <h3 class="section-subheading text-muted">Envoyez-nous un petit mot</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="container-content">
                  <div class="container">
                    <%= render "spree/messages/new" %>
                    <div id="share" class="center">
                    <h3>Suivez-nous sur nos réseaux</h3>
                    <ul class="share-links list-inline">
                      <li class="share-link"><a href="https://www.facebook.com/unidraft" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></a></i></li>
                      <li class="share-link"><a href="https://www.instagram.com/thomasindoor/?ref=badge" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>

            <!--           <li>
                      <%# if cookies[:saved_subscribers] %>
                        Merci !
                      <%# else %>
                        <h4>Inscrivez-vous à la newsletter</h4>
                        <%#= form_for @subscriber do |f| %>
                          <%##= f.text_field :name, placeholder: "Nom"  %>
                          <%#= f.email_field :email, placeholder: "Email" %>
                          <%#= f.submit "Youpi", class: 'btn btn-primary'  %>
                        <%# end %>
                      <%# end %>
                      </li> -->
                    </ul>

                  </div>

                  </div>
                </div>
            </div>
        </div>
    </div>
</section>

</div>
