footer {
  text-align: left !important;
  a, p {
    color: black !important;
    font-size: 1em!important;

  }
  a:hover {
  text-decoration: none;
  color: $button !important;
  transitions: 1s;
  }
  h5 {
    margin-top: 35px;
    font-weight: 400;
    padding-bottom: 12px;
    &:before {
      content : "";
      position: absolute;
      top: 60px;
      // bottom  : 0;
      height  : 1px;
      width   : 40%;  /* or 100px */
      border-bottom: solid 2px lightgray;
    }
  }
  .col {
    .share-links{
      font-size: 25px;
      margin: 0 0;
      text-align:left;
      li {
        margin: 0 0;
        padding: 0;
      }
    }

    }
  input.email {
    width: 100%;
  }
  #mc_embed_signup_scroll {
    display: inline-flex  }
}
