.banner {
  color: white;
  text-align: center;
  height: 60vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}
.follow-show {
  font-size: 34px;
}
.banner-designer {
  padding-top: 50px;
  padding-right: 20%;
  text-align: right;
}
.designer-show {
  .social {
    text-align: center;
    font-size: 2.5em;
  }


  .my-pic {
      width: 100%;
      box-shadow: -2px -1px 88px 0px rgba(0,0,0,0.17);
  }

  .my-pic img {
      width: 100%;
  }

}
@media (max-width: 768px) {
  #designer-show {

      .huhu {
        margin-left:-15px;
      }
  a.btn-violet.vpos {
    padding: 8px;
    line-height: 42px;
  }

  }
}
