ul#product-thumbnails {
  list-style: none;
  padding-left: 0;
  width: 100px;
  height: 250px;
}

.thumbs {
   width: 100px;
   height: 366px;
   overflow: hidden;
}

.thumbs ul {
    /* 4 images donc 4 x 100% */
   width: 400%;
   height: 200px;
   padding:0; margin:0;
   list-style: none;
}
.thumbs li {
   float: left;
}
.thumbs li img{
   padding-top: 0;
   float: left;
   width: 100px;
   height: 100px;
   object-fit: cover;
   border: none;
}
