<div class="modal fade" id="mentions-legales" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3> Mentions légales !</h3>
                        <p>Société: Unidraft
                            Forme juridique: SAS au capital de 3.000 euros
                            Siret: 82994717500016
                            Numéro RCS: 801407503
                            Adresse: 5 avenue des chasseurs 75017 Paris
                            contact: hello@unidraft.co

                            Hébergeur du site: www.ovh.net</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="container-content">
                          <div class="container">
                            <%#= render "messages/new_message" %>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="CGV" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3> Conditions générales de vente !</h3>
                        <p>CONDITIONS GENERALES DE VENTE – INTERNET

En vigueur au 01/04/2017


<br>
ARTICLE 1 - Champ d'application



Les présentes Conditions Générales de Vente (dites « CGV ») s'appliquent, sans restriction ni réserve à l'ensemble des ventes conclues par le Vendeur auprès d'acheteurs non professionnels (« Les Clients ou le Client »), désirant acquérir les produits proposés à la vente (« Les Produits ») par le Vendeur sur le site unidraft.co . Les Produits proposés à la vente sur le site sont les suivants :

série limitée de prêt à porter made in france et produits derivés
Les caractéristiques principales des Produits et notamment les spécifications, illustrations et indications de dimensions ou de capacité des Produits, sont présentées sur le site unidraft.co  ce dont le client est tenu de prendre connaissance avant de commander.
Le choix et l'achat d'un Produit sont de la seule responsabilité du Client.

Les offres de Produits s'entendent dans la limite des stocks disponibles, tels que précisés lors de la passation de la commande.

Ces CGV sont accessibles à tout moment sur le site unidraft.co et prévaudront sur toute autre document.

Le Client déclare avoir pris connaissance des présentes CGV et les avoir acceptées en cochant la case prévue à cet effet avant la mise en œuvre de la procédure de commande en ligne du site unidraft.co .

Sauf preuve contraire, les données enregistrées dans le système informatique du Vendeur constituent la preuve de l'ensemble des transactions conclues avec le Client.

Les coordonnées du Vendeur sont les suivantes :

unidraft , sas
Capital social de 3000 euros
Immatriculé au RCS de PARIS , sous le numéro XXXXXXXXXXX
5 AVENUE DES CHASSEURS
mail : hello@unidraft.co
téléphone : 0649840679
Les Produits présentés sur le site unidraft.co sont proposés à la vente pour les territoires suivants :
EU .
En cas de commande vers un pays autre que la France métropolitaine, le Client est l'importateur du ou des Produits concernés.

Pour tous les Produits expédiés hors Union européenne et DOM-TOM, le prix sera calculé hors taxes automatiquement sur la facture.

Des droits de douane ou autres taxes locales ou droits d'importation ou taxes d'état sont susceptibles d'être exigibles. Ils seront à la charge et relèvent de la seule responsabilité du Client.
<br>
ARTICLE 2 - Prix

Les Produits sont fournis aux tarifs en vigueur figurant sur le site unidraft.co , lors de l'enregistrement de la commande par le Vendeur.

Les prix sont exprimés en Euros, HT et TTC.

Les tarifs tiennent compte d'éventuelles réductions qui seraient consenties par le Vendeur sur le site unidraft.co .

Ces tarifs sont fermes et non révisables pendant leur période de validité mais le Vendeur se réservent le droit, hors période de validité, d’en modifier les prix à tout moment.

Les prix ne comprennent pas les frais de traitement, d'expédition, de transport et de livraison, qui sont facturés en supplément, dans les conditions indiquées sur le site et calculés préalablement à la passation de la commande.

Le paiement demandé au Client correspond au montant total de l'achat, y compris ces frais.

Une facture est établie par le Vendeur et remise au Client lors de la livraison des Produits commandés.
<br>
ARTICLE 3 – Commandes

Il appartient au Client de sélectionner sur le site unidraft.co les Produits qu'il désire commander, selon les modalités suivantes :

- EarlyBird : les achats "EarlyBird", sont un versement d'un accompte avant la mise en production des pièces. Si les piéces ne sont pas produites pour quelques raisons que ce soit, le client est intégralement remboursé. - Pour les achats normaux, le client est débité et une facture est éditée. Le produit est empaqueté et livré dans les plus brefs délais. .
Les offres de Produits sont valables tant qu'elles sont visibles sur le site, dans la limite des stocks disponibles.

La vente ne sera considérée comme valide qu’après paiement intégral du prix. Il appartient au Client de vérifier l'exactitude de la commande et de signaler immédiatement toute erreur.

Toute commande passée sur le site unidraft.co  constitue la formation d'un contrat conclu à distance entre le Client et le Vendeur.

Le Vendeur se réserve le droit d'annuler ou de refuser toute commande d'un Client avec lequel il existerait un litige relatif au paiement d'une commande antérieure.

Le Client pourra suivre l'évolution de sa commande sur le site.

Toute annulation de la commande par le Client ne sera possible qu'avant la livraison des Produits (indépendamment des dispositions relative à l'application ou non du droit de rétractation légal).
<br>
ARTICLE 3 Bis - Espace client - Compte

Afin de passer commande, le Client est invité à créer un compte (espace personnel).

Pour ce faire, il doit s’inscrire en remplissant le formulaire qui lui sera proposé au moment de sa commande et s’engage à fournir des informations sincères et exactes concernant son état civil et ses coordonnées, notamment son adresse email.

Le Client est responsable de la mise à jour des informations fournies. Il lui est précisé qu’il peut les modifier en se connectant à son compte.

Pour accéder à son espace personnel et aux historiques de commande, le Client devra s'identifier à l'aide de son nom d’utilisateur et de son mot de passe qui lui seront communiqués après son inscription et qui sont strictement personnels. A ce titre, le Client s’en interdit toute divulgation. Dans le cas contraire, il restera seul responsable de l’usage qui en sera fait.

Le Client pourra également solliciter sa désinscription en se rendant à la page dédiée sur son espace personnel ou envoyant un email à : hello@unidraft.co . Celle-ci sera effective dans un délai raisonnable.
En cas de non respect des conditions générales de vente et/ou d’utilisation, le site unidraft.co aura la possibilité de suspendre voire de fermer le compte d’un client après mise en demeure adressée par voie électronique et restée sans effet.
Toute suppression de compte, quel qu’en soit le motif, engendre la suppression pure et simple de toutes informations personnelles du Client.

Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du site ou serveur et sous réserve de toute interruption ou modification en cas de maintenance, n'engage pas la responsabilité du Vendeur.

La création du compte entraine l’acceptation des présentes conditions générales de vente.
<br>
ARTICLE 4 - Conditions de paiement

Le prix est payé par voie de paiement sécurisé, selon les modalités suivantes :

paiement par carte bancaire
Le prix est payable comptant par le Client, en totalité au jour de la pasation de la commande.

Les données de paiement sont sont échangées en mode crypté grâce au protocole défini par le prestataire de paiement agréé intervenant pour les transactions bancaires réalisée sur le site unidraft.co .
Les paiements effectués par le Client ne seront considérés comme définitifs qu'après encaissement effectif des sommes dues, par le Vendeur.

Le Vendeur ne sera pas tenu de procéder à la délivrance des Produits commandés par le Client si celui-ci ne lui en paye pas le prix en totalité dans les conditions ci-dessus indiquées.
<br>
ARTICLE 5 - Livraisons

Les Produits commandés par le Client seront livrés en France métropolitaine ou dans la/les zones suivantes :

EU .
Les livraisons interviennent dans un délai de 15 jours maximum  à l'adresse indiquée par le Client lors de sa commande sur le site.
La livraison est constituée par le transfert au Client de la possession physique ou du contrôle du Produit. Sauf cas particulier ou indisponibilité d'un ou plusieurs Produits, les Produits commandés seront livrés en une seule fois.

Le Vendeur s'engage à faire ses meilleurs efforts pour livrer les produits commandés par le Client dans les délais ci-dessus précisés. Toutefois, ces délais sont communiqués à titre indicatif.

Si les Produits commandés n'ont pas été livrés dans un délai de 30 jours après la date indicative de livraison, pour toute autre cause que la force majeure ou le fait du Client, la vente pourra être résolue à la demande écrite du Client dans les conditions prévues aux articles L 216-2, L 216-3 et L241-4 du Code de la consommation. Les sommes versées par le Client lui seront alors restituées au plus tard dans les quatorze jours qui suivent la date de dénonciation du contrat, à l'exclusion de toute indemnisation ou retenue.
Les livraisons sont assurées par un transporteur indépendant, à l'adresse mentionnée par le Client lors de la commande et à laquelle le transporteur pourra facilement accéder.

Lorsque le Client s'est lui-même chargé de faire appel à un transporteur qu'il choisit lui-même, la livraison est réputée effectuée dès la remise des Produits commandés par le Vendeur au transporteur qui les a acceptés sans réserves. Le Client reconnaît donc que c'est au transporteur qu'il appartient d'effectuer la livraison et ne dispose d'aucun recours en garantie contre le Vendeur en cas de défaut de livraison des marchandises transportées.

En cas de demande particulière du Client concernant les conditions d'emballage ou de transport des produits commandés, dûment acceptées par écrit par le Vendeur, les coûts y liés feront l'objet d'une facturation spécifique complémentaire, sur devis préalablement accepté par écrit par le Client.

Le Client est tenu de vérifier l'état des produits livrés. Il dispose d'un délai de 7 jours  à compter de la livraison pour formuler des réclamations par mail à hello@unidraft.co , accompagnées de tous les justificatifs y afférents (photos notamment). Passé ce délai et à défaut d'avoir respecté ces formalités, les Produits seront réputés conformes et exempts de tout vice apparent et aucune réclamation ne pourra être valablement acceptée par le Vendeur.

Le Vendeur remboursera ou remplacera dans les plus brefs délais et à ses frais, les Produits livrés dont les défauts de conformité ou les vices apparents ou cachés auront été dûment prouvés par le Client, dans les conditions prévues aux articles L 217-4 et suivants du Code de la consommation et celles prévues aux présentes CGV.

Le transfert des risques de perte et de détérioration s'y rapportant, ne sera réalisé qu'au moment où le Client prendra physiquement possession des Produits. Les Produits voyagent donc aux risques et périls du Vendeur sauf lorsque le Client aura lui-même choisi le transporteur. A ce titre, les risques sont transférés au moment de la remise du bien au transporteur.
<br>
ARTICLE 6 - Transfert de propriété

Le transfert de propriété des Produits du Vendeur ne sera réalisé qu'après complet paiement du prix par ce dernier, et ce quelle que soit la date de livraison desdits Produits.
<br>
ARTICLE 7 - Droit de rétractation

Selon les modalités de l’article L221-18 du Code de la Consommation «Le consommateur dispose d'un délai de quatorze jours pour exercer son droit de rétractation d'un contrat conclu à distance, à la suite d'un démarchage téléphonique ou hors établissement, sans avoir à motiver sa décision ni à supporter d'autres coûts que ceux prévus aux articles L. 221-23 à L. 221-25.
Le délai mentionné au premier alinéa court à compter du jour :
1° De la conclusion du contrat, pour les contrats de prestation de services et ceux mentionnés à l'article L. 221-4 ;
2° De la réception du bien par le consommateur ou un tiers, autre que le transporteur, désigné par lui, pour les contrats de vente de biens. Pour les contrats conclus hors établissement, le consommateur peut exercer son droit de rétractation à compter de la conclusion du contrat.
Dans le cas d'une commande portant sur plusieurs biens livrés séparément ou dans le cas d'une commande d'un bien composé de lots ou de pièces multiples dont la livraison est échelonnée sur une période définie, le délai court à compter de la réception du dernier bien ou lot ou de la dernière pièce.
Pour les contrats prévoyant la livraison régulière de biens pendant une période définie, le délai court à compter de la réception du premier bien. »

Le droit de rétractation peut être exercé en ligne, à l'aide du formulaire de rétractation ci-joint et également disponible sur le site ou de toute autre déclaration, dénuée d'ambiguïté, exprimant la volonté de se rétracter et notamment par courrier postal adressé au Vendeur aux coordonnées postales ou mail indiquées à l’ARTICLE 1 des CGV.

Les retours sont à effectuer dans leur état d'origine et complets (emballage, accessoires, notice...) permettant leur recommercialisation à l'état neuf, accompagnés de la facture d'achat.

Les Produits endommagés, salis ou incomplets ne sont pas repris.

Les frais de retour restant à la charge du Client.

L'échange (sous réserve de disponibilité) ou le remboursement sera effectué dans un délai de 14 jours à compter de la réception, par le Vendeur, des Produits retournés par le Client dans les conditions prévues au présent article.
<br>
ARTICLE 8 - Responsabilité du Vendeur - Garanties

Les Produits fournis par le Vendeur bénéficient :

de la garantie légale de conformité, pour les Produits défectueux, abîmés ou endommagés ou ne correspondant pas à la commande,
de la garantie légale contre les vices cachés provenant d'un défaut de matière, de conception ou de fabrication affectant les produits livrés et les rendant impropres à l'utilisation,
Dispositions relatives aux garanties légales

Article L217-4 du Code de la consommation

« Le vendeur est tenu de livrer un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance. Il répond également des défauts de conformité résultant de l'emballage, des instructions de montage ou de l'installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité. »

Article L217-5 du Code de la consommation

« Le bien est conforme au contrat :

1° S'il est propre à l'usage habituellement attendu d'un bien semblable et, le cas échéant :

- s'il correspond à la description donnée par le vendeur et possède les qualités que celui-ci a présentées à l'acheteur sous forme d'échantillon ou de modèle ;

- s'il présente les qualités qu'un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l'étiquetage ;

2° Ou s'il présente les caractéristiques définies d'un commun accord par les parties ou est propre à tout usage spécial recherché par l'acheteur, porté à la connaissance du vendeur et que ce dernier a accepté. »

Article L217-12 du Code de la consommation

« L'action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien. »

Article 1641 du Code civil.

« Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l'usage auquel on la destine, ou qui diminuent tellement cet usage, que l'acheteur ne l'aurait pas acquise, ou n'en aurait donné qu'un moindre prix, s'il les avait connus. »

Article 1648 alinéa 1er du Code civil

« L'action résultant des vices rédhibitoires doit être intentée par l'acquéreur dans un délai de deux ans à compter de la découverte du vice. »

Article L217-16 du Code de la consommation.

« Lorsque l'acheteur demande au vendeur, pendant le cours de la garantie commerciale qui lui a été consentie lors de l'acquisition ou de la réparation d'un bien meuble, une remise en état couverte par la garantie, toute période d'immobilisation d'au moins sept jours vient s'ajouter à la durée de la garantie qui restait à courir. Cette période court à compter de la demande d'intervention de l'acheteur ou de la mise à disposition pour réparation du bien en cause, si cette mise à disposition est postérieure à la demande d'intervention. »

Afin de faire valoir ses droits, le Client devra informer le Vendeur, par écrit (mail ou courrier), de la non-conformité des Produits ou de l'existence des vices cachés à compter de leur découverte.

Le Vendeur remboursera, remplacera ou fera réparer les Produits ou pièces sous garantie jugés non conformes ou défectueux.

Les frais d'envoi seront remboursés sur la base du tarif facturé et les frais de retour seront remboursés sur présentation des justificatifs.

Les remboursements, remplacements ou réparations des Produits jugés non conformes ou défectueux seront effectués dans les meilleurs délais et au plus tard dans les 7 jours jours suivant la constatation par le Vendeur du défaut de conformité ou du vice caché. Ce remboursement pourra être fait par virement ou chèque bancaire.
La responsabilité du Vendeur ne saurait être engagée dans les cas suivants :

non respect de la législation du pays dans lequel les produits sont livrés, qu'il appartient au Client de vérifier,
en cas de mauvaise utilisation, d'utilisation à des fins professionnelles, négligence ou défaut d'entretien de la part du Client, comme en cas d'usure normale du Produit, d'accident ou de force majeure.
Les photographies et graphismes présentés sur le site ne sont pas contractuels et ne sauraient engager la responsabilité du Vendeur.
La garantie du Vendeur est, en tout état de cause, limitée au remplacement ou au remboursement des Produits non conformes ou affectés d'un vice.
<br>
ARTICLE 9 - Informatiques et Libertés

En application de la loi 78-17 du 6 janvier 1978, il est rappelé que les données nominatives qui sont demandés au Client sont nécessaires au traitement de sa commande et à l'établissement des factures, notamment.

Ces données peuvent être communiquées aux éventuels partenaires du Vendeur chargés de l'exécution, du traitement, de la gestion et du paiement des commandes.

Le traitement des informations communiquées par l'intermédiaire du site unidraft.co  a fait l'objet a fait l'objet d'une déclaration auprès de la CNIL, numéro XXXXXX .
Le Client dispose, conformément aux réglementations nationales et européennes en vigueur d'un droit d'accès permanent, de modification, de rectification et d'opposition s'agissant des informations le concernant.

Ce droit peut être exercé selon les modalités décrites à la rubrique « mentions légales » du site unidraft.co .

<br>
ARTICLE 10 - Propriété intellectuelle

Le contenu du site unidraft.co  est la propriété du Vendeur et de ses partenaires et est protégé par les lois françaises et internationales relatives à la propriété intellectuelle.
Toute reproduction totale ou partielle de ce contenu est strictement interdite et est susceptible de constituer un délit de contrefaçon.

ARTICLE 11 - Droit applicable - Langue

Les présentes CGV et les opérations qui en découlent sont régies et soumises au droit français.

Les présentes CGV sont rédigées en langue française. Dans le cas où elles seraient traduites en une ou plusieurs langues étrangères, seul le texte français ferait foi en cas de litige.
<br>
ARTICLE 11 - Litiges

Pour toute réclamation merci de contacter le service clientèle à l’adresse postale ou mail du Vendeur indiquée à l’ARTICLE 1 des présentes CGV.

Le Client est informé qu'il peut en tout état de cause recourir à une médiation conventionnelle, auprès des instances de médiation sectorielles existantes ou à tout mode alternatif de règlement des différends (conciliation, par exemple) en cas de contestation.

En l’espèce, le médiateur désigné est

tribunl de commerce de PAris
PAris
________________
E-mail : .
Le Client est également informé qu’il peut, également recourir à la plateforme de Règlement en Ligne des Litige (RLL) :https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show

Tous les litiges auxquels les opérations d'achat et de vente conclues en application des présentes CGV et qui n’auraient pas fait l’objet d’un règlement amiable entre le vendeur ou par médiation, seront soumis aux tribunaux compétents dans les conditions de droit commun.

ANNEXE I

Formulaire de rétractation



Date ______________________

Le présent formulaire doit être complété et renvoyé uniquement si le Client souhaite se rétracter de la commande passée sur unidraft.co sauf exclusions ou limites à l'exercice du droit de rétractation suivant les Conditions Générales de Vente applicables.
A l'attention de sas , unidraft
5 AVENUE DES CHASSEURS
Je notifie par la présente la rétractation du contrat portant sur le bien ci-dessous :

-  Commande du (indiquer la date)

-  Numéro de la commande : ...........................................................

-  Nom du Client : ...........................................................................

-  Adresse du Client : .......................................................................





Signature du Client (uniquement en cas de notification du présent formulaire sur papier)</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="container-content">
                          <div class="container">
                            <%#= render "messages/new_message" %>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      </div>
    </div>
  </div>
</div>



