

<h3 style="font-family: 'Roboto', sans-serif;
    font-weight: lighter;">Théodore Gasquet</h3>
<br><br>

<table style="width:100%">

  <tr style='width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;'>
    <th style="padding: 15px;font-weight: 500;">Peux-tu te décrire ?</th>
    <th style="padding: 15px;font-weight: 500;">Comment qualifierais-tu le style de tes croquis ?</th>
    <th style="padding: 15px;font-weight: 500;"></th>
  </tr>
  <tr style='width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;'>
    <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;">Je dirais que je suis un jeune créatif a l'aspect classique et au fond plus décalé. </td>
    <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;">Mes croquis sont assez simples dans l'ensemble. Toujours dans la longueur et avec des trais assez fins. </td>
   <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;"><h5 style="width: 100%;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;">Perso</h5></td>
  </tr>
  <tr style='width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;'>
    <th style="padding: 15px;font-weight: 500;">Comment as-tu su que tu voulais devenir créateur ?</th>
    <th style="padding: 15px;font-weight: 500;">Quel matériel utilise-tu pour tes croquis ?</th>
    <th style="padding: 15px;font-weight: 500;"></th>
  </tr>
  <tr style='width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;'>
    <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;">Disons que c'est venu assez naturellement. J'ai toujours été fasciné par les tissus les matières, c'est seulement par la suite que je me suis intéressé aux coupes, aux détails et à la construction des vêtements.</td>
     <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;">Cela dépend complètement de ce que j'ai sous la main, je dessine avec un peu tout. Après je préfère quand même un crayon à papier mi-gras ou un stylo feutre.
    </td>
    <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;"></td>
  </tr>
</table>



<br>

<hr>

<br>
<table>
  <tr style='width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;'>
    <th style="padding: 15px;font-weight: 500;">Quel a été ton parcours ?</th>
    <th style="padding: 15px;font-weight: 500;"></th>
    <th style="padding: 15px;font-weight: 500;">Où trouves-tu ton inspiration ?</th>
  </tr>
  <tr style='width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;'>
    <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;">Je n'ai pas vraiment de parcours mode à proprement parler, disons plutôt que je me suis fait mon bout de chemin par moi-même. J'ai fait une Ecole de Commerce comme beaucoup de monde (rire), et j'ai toujours profité de mon temps libre pour faire marcher ma créativité.</td>
    <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;"><h5 style="width: 100%;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;">CREATIONS</h5></td>
   <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;">Je les trouve un peu dans tout ce que j'ai autour de moi. Je suis super curieux et je fais attention aux détails donc quand je vois quelque chose qui me plait je le prends en photo. Ça peut être une trouvaille dans une brocante comme une pièce de musée ou une feuille d'arbre.</td>
  </tr>
  <tr style='width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;'>
    <th style="padding: 15px;font-weight: 500;">Peux-tu nous décrire le processus du dessin jusqu’à la réalisation d’un vêtement ?</th>
    <th style="padding: 15px;font-weight: 500;">Quelles matières préfères-tu travailler ?
</th>
    <th style="padding: 15px;font-weight: 500;"></th>
  </tr>
  <tr style='width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;'>
    <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;">Je ne travaille pas forcement à partir d'un dessin, j'aime voir les tissus et donc voir leur tombé et faire un dessin à partir de ça. Je sais faire dans l'autre sens mais ce n’est pas forcément ma vision des choses.</td>
     <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;">Toutes les matières sont bonnes à prendre mais j'ai une préférence pour les matériaux lourd qui ont une structure et un tombé plus intéressant.
    </td>
    <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;"></td>
  </tr>
</table>




<br>

<hr>

<br>
<table>
  <tr style='width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;'>
    <th style="padding: 15px;font-weight: 500;"></th>
    <th style="padding: 15px;font-weight: 500;">Comment décrirais-tu ton style vestimentaire ?</th>
    <th style="padding: 15px;font-weight: 500;">Quelle est ta pièce fétiche ?</th>
  </tr>
  <tr style='width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;'>
    <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;"><h5 style="width: 100%;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;">MODE</h5></td>
    <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;">Mon style est assez simple, j'ai beaucoup de chemises blanches. Mais j'aime bien avoir ma petite touche avec des pièces que l’on n’attend pas.</td>
    <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;">La chemise blanche (rire), on peut la décliner sous toutes les formes et je trouve qu'elle peut exprimer un peut ce qu'on veut en fonction de la façon de la porter.</td>
  </tr>
  <tr style='width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;'>
    <th style="padding: 15px;font-weight: 500;">Quelles sont tes marques préférées ?</th>
    <th style="padding: 15px;font-weight: 500;">De quelles marques t’inspires-tu le plus ?</th>
    <th style="padding: 15px;font-weight: 500;">Quels défilés tu préfères regarder ?</th>
  </tr>
  <tr style='width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;'>
    <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;">Gucci, pour les couleurs et l'exubérance assumée. Carven, mais malheureusement ils ne font plus les collections homme. Mais j'aime beaucoup les pièces vintage que l'on trouve sur les marchés de Londres ou dans les friperies à Paris ou Berlin.</td>
    <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;">Elie Saab, parce qu'il incarne la femme moderne qui a une grâce incomparable. Sinon Monsieur Dior et Monsieur Saint Laurent qui dans leur temps ont chacun révolutionné la silhouette et l'image que l'on avait d'une femme.</td>
    <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;">Depuis qu'il n'y a plus Galliano chez Dior, j'ai moins plaisir à regarder les défilés. Lagerfeld sait toujours nous surprendre avec délicatesse et c'est toujours genial. Sinon j'adore ceux de Jacquemus.</td>
  </tr>
  <tr style='width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;'>
    <th style="padding: 15px;font-weight: 500;">Si tu devais créer une pièce pour un people, qu’est que se serait et pour qui ?</th>
    <th style="padding: 15px;font-weight: 500;">Quelle est ta pièce signature ?</th>
    <th style="padding: 15px;font-weight: 500;">Quel est selon toi le pire fashion faux pas ?</th>
  </tr>

  <tr style='width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;'>
    <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;">Une robe pour Emma Watson, pour n'importe quel moment de sa journée, je l'aime beaucoup.
  </td>
    <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;">Bonne question ! Je fais beaucoup de robe longue mais je ne veux pas être bloqué avec cette image parce que j'aime aussi faire beaucoup d'autres choses.</td>
    <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;">Le pire fashion faux pas est de ne pas se sentir bien dans ses vêtements. On peut tout mettre, enfin presque, (rire) l'important c'est d'assumer.</td>
  </tr>
  <tr style='width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;'>
    <th style="padding: 15px;font-weight: 500;">La pièce que tu rêverais d’avoir ?</th>
    <th style="padding: 15px;font-weight: 500;"></th>
    <th style="padding: 15px;font-weight: 500;"></th>
  </tr>
  <tr style='width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;'>
    <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;">Un costume Kris Van Hasche pour Dior.</td>
    <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;"></td>
    <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;"></td>
  </tr>

</table>

<hr>

<br>
<table>
  <tr style='width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;'>
    <th style="padding: 15px;font-weight: 500;">Quels sont tes projets ?</th>
    <th style="padding: 15px;font-weight: 500;"></th>
    <th style="padding: 15px;font-weight: 500;">Quelle carrière on peut te souhaiter ?</th>
  </tr>
  <tr style='width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;'>
    <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;">J'en ai beaucoup mais si j'en parle vous en saurez trop (Rire).</td>
    <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;"><h5 style="width: 100%;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;">FUTUR</h5></td>
    <td style="padding: 15px;font-weight: 100;width: 30%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;">Que je puisse me plaire dans ce que je fais et que je réussisse à accomplir mes fameux projets !</td>
  </tr>


</table>
